.btn-gradient {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;

  &--galaxy {
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
  }

  &:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
